.slider{
    width: 98.9vw;
    height: 300px;
    display: flex;
    /* overflow-x: auto; */
}
.slider>button{
    background-color: transparent;
    color: rgb(190, 190, 190);
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(119, 119, 119);
    border: none;
    position: absolute;
    font-size: xx-large;
    display: flex;
    padding: 30px;
    align-items: center;
    height: 300px;
    /* border: 1px solid rgb(0, 0, 0); */
    z-index: 1;
}
.slider>button:hover{
    box-shadow:inset 0 0 0 1px rgb(255, 255, 255);
    border: 2px solid rgb(99, 136, 255);
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.panel>img{
    width: 100vw;
    /* width: clamp(1280px, 180vw, 1920px); */
    /* height: auto; */
    transition: 300ms ease-in-out;
    z-index: -1;
    /* filter: blur(0px); */
}

.panel{
    box-shadow: inset 0 -200px 50px -100px #E3E6E6;
    position: relative;
    display: flex;
    width: 100vw;
    height: 614.5px;
    overflow-x: hidden;
    /* position: relative; */
    /* transition: 1s; */
}

@keyframes animateBack {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-98.5vw);
    }
}

@keyframes animateFront {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(98.5vw);
    }
}