.all{
    background-color: #ffffff;
}
.main, .footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #f1f1f1; */
}
.main{
    height: 533px;
    /* border-bottom: #111 1px solid; */
    box-shadow: #9d9d9d 0px 100px 25px -110px;
    /* background-color: white; */

}
.footer{
    padding-top:40px;
    font: 10.8px Arial, sans-serif;
    color: #535252;
    height: 162px;
    /* background-color: white; */

}
.main>img{
    height:60px
    /* margin-bottom: 40px; */

}
.main>div{
    border: 1px solid lightgray; 
    width: 300px;
    border-radius: 8px;
    padding: 22px 25px;
    /* margin: 2px; */

}
.main>div>form{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    gap: 20px;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.1); */
}
.main>div>form>label{
    display: flex;
    flex-direction: column;
}
.main>div>form>label>span{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.main>div>form>label>input{
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.main>div>form>label>input:focus{
    outline: 0.5px solid rgb(112, 112, 112);
    /* border: 4px solid #ff9900; */
    box-shadow: 0 0 0 3px #9ce0ff;
}

.footer>ol{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    font: 10px Arial, sans-serif;
    /* font-weight:bold; */
    color: #2468c0; 
}
.submit{
    background-color: #ffd814;
    border: none;
    /* border-color: #a88734 #9c7e31 #846a29; */
    color: #111;
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 5px;
    width: 100%;
}
.main>div>p{
    font-size: 10px;
    margin: 22px 0;
    margin-bottom: 40px;
}
.main>div>p>a:hover{
    color: coral;
}
.main>div>button{
    margin-top: 30px;
    background-color: #ffffff;
    border: rgb(214, 214, 214) 1px solid;
    box-shadow: #9d9d9d 0px 0px 10px -5px;
    color: #111;
    padding: 8px 0;
    border-radius: 5px;
    width: 100%;
}
.main>div>button:hover{
    background-color: #f7f7f7;
}
